* {
  margin: 0
}

@media print {
  @page {
    size: A4;
    size: landscape;
    margin: 0px;
  }

  @media print {
    .container-form {
      page-break-after: always;
    }
  }
}

body {
  width: 297mm;
  height: 210mm;
}

.container-form {
  outline: 1px solid black;
  width: auto;
  height: 100%;
  margin: 20px 10px;
  position: relative;
  padding: 5px;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

p {
  margin-bottom: 5px;
  margin-top: 5px;
}

span {
  text-decoration: underline;
  margin: 0px 3px;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  font-size: 10px;
}

th {
  font-size: 13px;
}

td,
th {
  border: 1px solid black;
  text-align: center;
}

footer.first {
  position: absolute;
  bottom: 20px;
}

h4 {
  text-decoration: underline;
}

.signature {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* second page */
ol {
  font-size: 10px;
}

p {
  font-size: 10px;
}

.signature label {
  font-size: 10px;
}

footer.second {
  position: absolute;
  width: 99%;
  bottom: 20px;
}