{% load static %}
<html lang="en">

<head>
  <script type="text/javascript">
    function preventBack() {
      window.history.forward();
    }

    setTimeout("preventBack()", 0);

    window.onunload = function () {
      null;
    };
  </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/7bf0e3e20b.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="{% static '/css/desbord.css' %}" />
  <link rel="stylesheet" href="{% static '/css/header.css' %}" />
  <link rel="stylesheet" href="{% static '/css/CM.css' %}" />
  <link rel="stylesheet" href="{% static '/css/customerKYC.css' %}" />
  <link rel="stylesheet" href="{% static '/css/centerIDDropDown.css' %}" />
  <link rel="stylesheet" href="{% static '/css/cross.css' %}" />
  <link rel="stylesheet" href="{% static '/css/addCollections.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static '/favicon.ico' %}" />
  <title>Parishkar Microcare Foundation</title>
</head>

<body>
  <header>
    <div class="left-side">
      <li>
        <a href="#" onclick="openSlideMenu()"><i class="fa-solid fa-bars"></i></a>
      </li>
      <li>
        <a href="{% url 'desbord' %}">
          <h2>PMCF</h2>
        </a>
      </li>
    </div>
    <nav>
      <ul class="nav_links">
        <li>
          <a href="">
            <i class="fa-solid fa-user"></i>
            {% if user.first_name  %}
            <span>{{user.first_name.title}} {{user.last_name.title}}</span>
            {% else %}
            <span>{{user.username}}</span>
            {% endif %}
          </a>
        </li>
        <li>
          <a href="">
            <abbr title="Session Time">
              <div class="time">
                <!-- for time -->
                <div class="hms"></div>

                <!-- for AM/PM -->
                <div class="ampm"></div>
              </div>
            </abbr>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <div class="menu">
      <div class="item">
        <a class="sub-btn">Admin</a>
        <div class="sub-menu">
          <a href="{% url 'region' %}">Create new region</a>
          <a href="{% url 'region_view' %}">View Regions</a>
          <a href="{% url 'zone' %}">Create new zone</a>
          <a href="{% url 'zone_view' %}">View Zone</a>
          <a href="{% url 'Agent_user' %}">Create new User</a>
          <a href="{% url 'create_new_branch' %}">Create new Branch</a>
          <a href="{% url 'Agent' %}">Assigned Branch to Agent</a>
          <a href="{% url 'center_ID' %}">Create new center ID for Agent</a>
          <a href="{% url 'newLoan' %}">Create new Loan</a>
          <a href="{% url 'newUserRole' %}">Create new User Role</a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn">Transaction </a>
        <div class="sub-menu">
          <a href="{% url 'center_meeting' %}">Centre Meeting</a>
          <a href="{% url 'collection_reverse' %}">Collection Reverse</a>
          <a href="{% url 'cross_sell_cash_sell' %}">Cross Sell Cash Sell</a>
          <a href="{% url 'Credit_Bureau_Check' %}">Customer Credit Bureau</a>
          <a href="{% url 'branchDayClose' %}">Day Close</a>
          <a href="#">Death Cases</a>
          <a href="{% url 'loanApplication' %}">Loan Applications</a>
          <a href="{% url 'Loan_Details' %}">Loan Details</a>
          <a href="{% url 'Bank_Transaction_Deposit' %}">Bank Transaction Deposit</a>
          <a href="{% url 'BANK_Transaction_Withdrawal' %}">BANK Transaction Withdrawal</a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn">Reports</a>
        <div class="sub-menu">
          <a href="{% url 'branchSummaryReport' %}">Branch Summary Report</a>
          <a href="{% url 'collection_details' %}">Collection Details</a>
          <a href="{% url 'Collection_demand' %}">Demand Details Reports</a>
          <a href="{% url 'Group_Loan_Application_Report' %}">Group Loan Application Report</a>
          <a href="#">Loan Summary Report</a>
          <a href="{% url 'loanCalculator' %}">Loan Calculator</a>
        </div>
      </div>
      <div class="item">
        <a href="{% url 'signin' %}" class="sub-btn logout">Logout</a>
        <a style="text-decoration: none; " href="{% url 'changePassword' %}">Change password?</a>
      </div>
    </div>
  </div>
</body>
<script>
  let clearSession = () => {
    $.ajax({
      url: '/clear-session/',
      type: 'GET',
      success: function (response) {
        // Handle the response as needed
        console.log(response);
      },
      error: function (xhr, status, error) {
        // Handle any errors
        console.log(error);
      }
    });
  }
</script>

</html>