{% include "header.html" %}
<div class="container1">
    <h2>Create Region</h2>
    <form action="#" method="POST">
        {% csrf_token %}
        <fieldset>
            {% for fm in form %}
            <div>
                {{fm.label_tag}}{{fm}}
            </div>
            {% endfor %}
            <input type="submit" value="Submit" class="button1">
            <!-- <div style="color: red;">
                {% if messages %} {% for message in messages %} {{message}}{% endfor %}{% endif%}
            </div> -->
        </fieldset>
    </form>
</div>
{% include "footer.html" %}